In [1]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler

In [50]:
df2 = pd.read_csv("ehresp_2014.csv")
df2.head()

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
0,20140101140007,1,-2,33.200001,1,-1,-1,30,2,0,...,1,2,1,-1,2,1,2,170,1,2
1,20140101140011,1,1,22.700001,3,1,-1,45,14,0,...,1,2,1,-1,1,2,2,128,2,0
2,20140101140028,1,2,49.400002,3,5,-1,60,0,0,...,-1,-1,2,2,-1,-1,-1,270,2,12
3,20140101140063,1,-2,-1.000000,3,-1,-1,0,0,0,...,2,2,1,1,2,6,-1,-2,2,2
4,20140101140168,1,2,31.000000,3,5,-1,65,0,0,...,1,2,1,2,1,1,2,210,1,0

In [51]:
# Let's check the dimensions of the dataframe
df2.shape

(11212, 37)

In [52]:
# Let's see the type of each column
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11212 entries, 0 to 11211
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tucaseid     11212 non-null  int64
 1   tulineno     11212 non-null  int64
 2   eeincome1    11212 non-null  int64
 3   erbmi        11212 non-null  float64
 4   erhhch       11212 non-null  int64
 5   erincome     11212 non-null  int64
 6   erspemch     11212 non-null  int64
 7   ertpreat     11212 non-null  int64
 8   ertseat      11212 non-null  int64
 9   ethgt        11212 non-null  int64
 10  etwgt        11212 non-null  int64
 11  eudietsoda   11212 non-null  int64
 12  eudrink      11212 non-null  int64
 13  eueat        11212 non-null  int64
 14  euexercise   11212 non-null  int64
 15  euexfreq     11212 non-null  int64
 16  eufastfd     11212 non-null  int64
 17  eufastfdfrq  11212 non-null  int64
 18  euffyday     11212 non-null  int64
 19  eufdsit      11212 non-null  int64
 20  eufinlwgt    11212 non-null  float64
 21  eusnap       11212 non-null  int64
 22  eugenhth     11212 non-null  int64
 23  eugroshp     11212 non-null  int64
 24  euhgt        11212 non-null  int64
 25  euinclvl     11212 non-null  int64
 26  euincome2    11212 non-null  int64
 27  eumeat       11212 non-null  int64
 28  eumilk       11212 non-null  int64
 29  euprpmel     11212 non-null  int64
 30  eusoda       11212 non-null  int64
 31  eustores     11212 non-null  int64
 32  eustreason   11212 non-null  int64
 33  eutherm      11212 non-null  int64
 34  euwgt        11212 non-null  int64
 35  euwic        11212 non-null  int64
 36  exincome1    11212 non-null  int64
dtypes: float64(2), int64(35)
memory usage: 3.2 MB

In [54]:
# let's look at the statistical aspects of the dataframe
df2.describe()

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
count,1.121200e+04,11212.0,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,...,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000,11212.000000
mean,2.014066e+13,1.0,1.293525,26.291250,2.885212,2.036479,1.872547,65.678113,16.759900,-0.003122,...,0.529344,1.157867,1.464592,0.738494,0.788887,1.366572,0.844006,168.182572,0.512130,4.475027
std,3.456735e+08,0.0,0.845532,8.737788,0.443716,1.694437,2.915099,48.080541,50.643598,0.182376,...,0.985731,1.338405,0.691768,1.285256,1.301327,1.872375,1.408404,56.893436,1.481951,17.634628
min,2.014010e+13,1.0,-3.000000,-1.000000,1.000000,-1.000000,-1.000000,0.000000,-3.000000,-1.000000,...,-2.000000,-3.000000,-3.000000,-2.000000,-3.000000,-3.000000,-3.000000,-5.000000,-3.000000,-1.000000
25%,2.014030e+13,1.0,1.000000,23.000000,3.000000,1.000000,-1.000000,30.000000,0.000000,0.000000,...,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,140.000000,-1.000000,0.000000
50%,2.014061e+13,1.0,1.000000,26.500000,3.000000,1.000000,1.000000,60.000000,3.000000,0.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,168.000000,1.000000,0.000000
75%,2.014091e+13,1.0,2.000000,30.400000,3.000000,3.000000,5.000000,90.000000,15.000000,0.000000,...,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,200.000000,2.000000,0.000000
max,2.014121e+13,1.0,3.000000,73.599998,3.000000,5.000000,5.000000,508.000000,990.000000,2.000000,...,2.000000,2.000000,3.000000,2.000000,5.000000,6.000000,2.000000,340.000000,2.000000,87.000000

In [55]:
# Check the total missing values in each column.
print(df2.isnull().sum())

tucaseid       0
tulineno       0
eeincome1      0
erbmi          0
erhhch         0
erincome       0
erspemch       0
ertpreat       0
ertseat        0
ethgt          0
etwgt          0
eudietsoda     0
eudrink        0
eueat          0
euexercise     0
euexfreq       0
eufastfd       0
eufastfdfrq    0
euffyday       0
eufdsit        0
eufinlwgt      0
eusnap         0
eugenhth       0
eugroshp       0
euhgt          0
euinclvl       0
euincome2      0
eumeat         0
eumilk         0
euprpmel       0
eusoda         0
eustores       0
eustreason     0
eutherm        0
euwgt          0
euwic          0
exincome1      0
dtype: int64

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
df2.head()

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,eumeat,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1
0,20140101140007,1,-2,33.200001,1,-1,-1,30,2,0,...,1,2,1,-1,2,1,2,170,1,2
1,20140101140011,1,1,22.700001,3,1,-1,45,14,0,...,1,2,1,-1,1,2,2,128,2,0
2,20140101140028,1,2,49.400002,3,5,-1,60,0,0,...,-1,-1,2,2,-1,-1,-1,270,2,12
3,20140101140063,1,-2,-1.000000,3,-1,-1,0,0,0,...,2,2,1,1,2,6,-1,-2,2,2
4,20140101140168,1,2,31.000000,3,5,-1,65,0,0,...,1,2,1,2,1,1,2,210,1,0

In [14]:
df2["obese"] = 0
#print(res["erbmi"])

In [15]:
es = df2[df2['eusoda']>0] 
genFeaturesList = ['eusoda', 'eusnap', 'euincome2', 'eugenhth', 'erincome', 'eudietsoda',
                  'euffyday', 'eufdsit', 'eufastfdfrq','ertseat', 'eudrink', 'eueat',
                  'euexfreq', 'euexercise', 'eufastfd', 'eugenhth', 'eumeat', 'eumilk', 'eustores', 
                  'eustreason', 'euwic']

for feature in genFeaturesList:
    print('current prune feature', feature)
    oldSize = len(df2)
    newSize = len(df2[df2[feature]>-1])
    print('num deleted:', oldSize-newSize)

current prune feature eusoda
num deleted: 3699
current prune feature eusnap
num deleted: 77
current prune feature euincome2
num deleted: 7699
current prune feature eugenhth
num deleted: 84
current prune feature erincome
num deleted: 280
current prune feature eudietsoda
num deleted: 8175
current prune feature euffyday
num deleted: 4749
current prune feature eufdsit
num deleted: 51
current prune feature eufastfdfrq
num deleted: 4772
current prune feature ertseat
num deleted: 63
current prune feature eudrink
num deleted: 10
current prune feature eueat
num deleted: 63
current prune feature euexfreq
num deleted: 4219
current prune feature euexercise
num deleted: 57
current prune feature eufastfd
num deleted: 43
current prune feature eugenhth
num deleted: 84
current prune feature eumeat
num deleted: 3099
current prune feature eumilk
num deleted: 3093
current prune feature eustores
num deleted: 3004
current prune feature eustreason
num deleted: 3081
current prune feature euwic
num deleted: 5407

In [16]:
df2["bmi"] = df2["erbmi"].astype(float)
#set obese to true if bmi above 30
df2.loc[df2['bmi']>30, 'obese'] = 1
#obese is our target
target = df2["obese"]

In [17]:
print(df2["obese"].value_counts())

Obese1 =  df2[df2["obese"] == 1] #isolate the obese
NotObese1 = df2[df2["obese"] == 0]

print(df2['obese'].value_counts(normalize=True))

0    8172
1    3040
Name: obese, dtype: int64
0    0.728862
1    0.271138
Name: obese, dtype: float64

In [18]:
obeseMsk= np.random.rand(len(Obese1)) < .7
notObeseMsk = np.random.rand(len(NotObese1)) < .7

trainObese = Obese1[obeseMsk]
trainNotObese = NotObese1[notObeseMsk]

testObese = Obese1[~(obeseMsk)]
testNotObese = NotObese1[~(notObeseMsk)]

In [19]:
print("Should be true")
len(testObese) + len(trainObese) == len(Obese1)

Should be true

True

In [20]:
test = testObese.append(testNotObese)

In [21]:
test.head()

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1,obese,bmi
5,20140101140559,1,1,30.700001,3,1,1,20,10,0,...,2,1,-1,-1,-1,220,2,0,1,30.700001
13,20140101140759,1,2,30.400000,3,5,5,150,5,0,...,2,1,-1,-1,-1,200,-1,0,1,30.400000
21,20140101140876,1,1,33.400002,3,1,5,90,0,0,...,1,2,2,1,2,160,-1,0,1,33.400002
24,20140101140940,1,1,34.299999,3,1,5,30,10,0,...,2,1,-1,-1,-1,260,2,0,1,34.299999
35,20140101141179,1,-3,31.600000,3,-1,-1,30,4,0,...,1,2,-1,-1,2,190,-1,3,1,31.600000

In [22]:
train = trainObese.append(trainNotObese) #make full train
print('length of train:', len(train))

length of train: 7854

In [23]:
trainOriginal = train.copy() #make a copy
testOriginal = test.copy()
#we select features for use below
genFeaturesList = ['eusoda', 'eusnap', 'euincome2', 'eugenhth', 'erincome', 'eudietsoda',
                  'euffyday', 'eufdsit', 'eufastfdfrq','ertseat', 'eudrink', 'eueat',
                  'euexfreq', 'euexercise', 'eufastfd', 'eugenhth', 'eumeat', 'eumilk', 'eustores', 
                  'eustreason', 'euwic']
#clean the data for only valid
for feature in genFeaturesList:
    train = train[train[feature]>-1]
    trainTarget = train['obese']
    test = test[test[feature]>-1]
    testTarget = test['obese']
    print('new train len:', len(train))
    print('new test len:', len(test))

new train len: 5258
new test len: 2255
new train len: 5224
new test len: 2244
new train len: 1521
new test len: 650
new train len: 1511
new test len: 649
new train len: 1511
new test len: 649
new train len: 681
new test len: 302
new train len: 389
new test len: 186
new train len: 388
new test len: 186
new train len: 386
new test len: 184
new train len: 382
new test len: 183
new train len: 382
new test len: 183
new train len: 382
new test len: 183
new train len: 197
new test len: 77
new train len: 197
new test len: 77
new train len: 197
new test len: 77
new train len: 197
new test len: 77
new train len: 155
new test len: 56
new train len: 155
new test len: 56
new train len: 146
new test len: 50
new train len: 145
new test len: 50
new train len: 85
new test len: 38

In [24]:
from sklearn import tree

In [25]:
#first test see if soda and obesity
sodaFeatures = train[["eusoda"]].values
sodaTree = tree.DecisionTreeClassifier()
sodaTree = sodaTree.fit(sodaFeatures, trainTarget )
print(sodaTree.feature_importances_)
print(sodaTree.score(sodaFeatures, trainTarget))

np.count_nonzero(sodaTree.predict(sodaFeatures))

[0.]
0.7176470588235294

0

In [26]:
testSodaFeatures=test[['eusoda']].values
sodaPredTree = sodaTree.predict(testSodaFeatures)
sodaTree.score(testSodaFeatures, test['obese'])

0.6842105263157895

In [27]:
###Now on whole data

In [28]:
sodaTargetFull = df2['obese']
sodaFeaturesFull = df2[['eusoda']].values
sodaTreeFull = tree.DecisionTreeClassifier()
sodaTreeFull = sodaTreeFull.fit(sodaFeaturesFull, sodaTargetFull)
print(sodaTreeFull.feature_importances_)
print(sodaTree.score(sodaFeaturesFull, sodaTargetFull))

[1.]
0.7288619336425258

In [30]:
df2Copy = df2.copy() #make a copy
df2Copy = df2Copy[df2Copy["eusoda"]>0]
df2Copy.head()
#list(resCopy)

,tucaseid,tulineno,eeincome1,erbmi,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,...,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1,obese,bmi
2,20140101140028,1,2,49.400002,3,5,-1,60,0,0,...,2,2,-1,-1,-1,270,2,12,1,49.400002
3,20140101140063,1,-2,-1.000000,3,-1,-1,0,0,0,...,1,1,2,6,-1,-2,2,2,0,-1.000000
4,20140101140168,1,2,31.000000,3,5,-1,65,0,0,...,1,2,1,1,2,210,1,0,1,31.000000
5,20140101140559,1,1,30.700001,3,1,1,20,10,0,...,2,1,-1,-1,-1,220,2,0,1,30.700001
6,20140101140610,1,1,33.299999,1,1,5,30,5,0,...,3,2,2,5,2,200,2,0,1,33.299999

In [32]:
df2Copy["predict"]=0
print(df2Copy['eusoda'].value_counts())
df2Copy.loc[df2Copy['eusoda']== 1, 'predict'] = 1
print(df2Copy['predict'].value_counts())

2    4470
1    3043
Name: eusoda, dtype: int64
0    4470
1    3043
Name: predict, dtype: int64

In [34]:
#accuracy if we just do a simple prediction that they are obese if they drink soda
#accuracy if we just do a simple prediction that they are obese if they drink soda
numCorrect = len(df2Copy[df2Copy['predict']==df2Copy['obese']])
totalNum = len(df2Copy)
print (numCorrect/ totalNum)

0.5791295088513244

In [35]:
sodaFeaturesForest = df2[['eusoda']].values

sodaForest = RandomForestClassifier(max_depth = 4, min_samples_split = 2,
                               n_estimators = 100, random_state = 1)
sodaForest = sodaForest.fit(sodaFeaturesForest, sodaTargetFull)
print(sodaForest.score(sodaFeaturesForest, sodaTargetFull))

0.7288619336425258

In [36]:
#clean data by picking only valid eusnap values
train = train[train['eusnap']>0]
trainTarget = train['obese']
test = test[test['eusnap']>0]
testTarget = test['obese']

In [37]:
sodaSnapFeatures = train[['eusoda', 'eusnap']].values


sodaSnapForest = RandomForestClassifier(max_depth = 4, min_samples_split = 2,
                               n_estimators = 100, random_state = 1)
sodaSnapForest = sodaSnapForest.fit(sodaSnapFeatures, trainTarget)
print(sodaSnapForest.score(sodaSnapFeatures, trainTarget))

0.7176470588235294

In [38]:
genFeatures = train[genFeaturesList].values


genForest = RandomForestClassifier() #max_depth = 10,  min_samples_split = 2,
                                   #n_estimators = 20, random_state = 1
genForest = genForest.fit(genFeatures, trainTarget)
print(genForest.score(genFeatures, trainTarget))
genForestFeatureImportances = genForest.feature_importances_ 
print(genForest.feature_importances_)

1.0
[0.         0.0517914  0.04732722 0.09190418 0.03519545 0.06721664
 0.03626273 0.04932714 0.10765211 0.11049451 0.         0.0295133
 0.1099365  0.         0.         0.08252695 0.00941553 0.
 0.06147753 0.09134122 0.01861759]

In [39]:
#Lets try to pick the top 5 features and retry the forest
topInd = np.argsort(genForestFeatureImportances)[::-1][:5]
topFeaturesList = [genFeaturesList[i] for i in topInd]
topFeaturesList

['ertseat', 'euexfreq', 'eufastfdfrq', 'eugenhth', 'eustreason']

In [40]:
#reset our train and test to the original, 
#because we lost too many data points when we filtered for everything
train = trainOriginal.copy()
trainTarget = train['obese']
test = testOriginal.copy()
testTarget = test['obese']

In [41]:
#clean the data for only valid
topFeaturesList = ['euexfreq', 'eustreason', 'eugenhth', 'ertseat', 'eufastfdfrq']
for feature in topFeaturesList:
    #print(feature)
    #print('new train len:', len(train))
    #print('new test len:', len(test))
    train = train[train[feature]>-1]
    trainTarget = train['obese']
    test = test[test[feature]>-1]
    testTarget = test['obese']

In [42]:
topFeatures = train[topFeaturesList].values

topForest = RandomForestClassifier(max_depth=8) #max_depth = 10,  min_samples_split = 2,
                                   #n_estimators = 20, random_state = 1
topForest = topForest.fit(topFeatures, trainTarget)
print(topForest.score(topFeatures, trainTarget))
topForestFeatureImportances = topForest.feature_importances_ 
print(topForest.feature_importances_)

0.800571156592099
[0.164234   0.11631632 0.36030708 0.21205567 0.14708692]

In [43]:
#try to find the best max depth and n_estimators
pairsList = []
for i in range(1, 15):
    for j in range(1,25):
        pairsList.append([i,j])

pairsListTrainScores = []
pairsListResults = []
for (depth, estimators) in pairsList:
    topForest = RandomForestClassifier(max_depth=depth, n_estimators = estimators) 
    topForest = topForest.fit(topFeatures, trainTarget)
    pairsListTrainScores.append(topForest.score(topFeatures, trainTarget))
    pairsListResults.append(topForest.score(test[topFeaturesList].values, testTarget))

In [44]:
print('max test result', max(pairsListResults))
print('max train score', max(pairsListTrainScores))
maxIndex = np.argmax(pairsListResults)
print('max index', np.argmax(pairsListResults))
print('max pair', pairsList[maxIndex])

max test result 0.7711771177117712
max train score 0.9009995240361732
max index 148
max pair [7, 5]

In [45]:
topForest = RandomForestClassifier(max_depth = 7, n_estimators = 8) 
topForest = topForest.fit(topFeatures, trainTarget)
print('optimal train score', topForest.score(topFeatures, trainTarget))
print('optimal test score',topForest.score(test[topFeaturesList].values, testTarget))

optimal train score 0.7839124226558781
optimal test score 0.7667766776677668

In [46]:
print(topForest.feature_importances_)

[0.13186723 0.11890225 0.42813186 0.17284989 0.14824877]

In [47]:
print(list(zip(topFeaturesList, topForest.feature_importances_)))

[('euexfreq', 0.13186723394357636), ('eustreason', 0.11890224614603817), ('eugenhth', 0.42813185989556546), ('ertseat', 0.17284988829094905), ('eufastfdfrq', 0.1482487717238709)]

# From this, we see that these factors are most closely related to obesity:

1. general health
2. time spent doing secondary eating
3. how frequently they go to fast food restaurants
4. how frequently they exercise